<mat-card>
    <mat-card-content>
        <section>
            <mat-form-field class="form-field">
                <input matInput placeholder="Primeiro nome" name="nome" [(ngModel)]="nome">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="form-field">
                    <input matInput placeholder="Endereço" name="endereco" [(ngModel)]="endereco">
                    <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>

            <mat-form-field class="form-field"> 
                    <input matInput placeholder="Fone" name="fone" [(ngModel)]="fone">
                    <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>          
            
            <mat-form-field class="form-field">
                    <mat-select placeholder="Cidade" [(ngModel)]="cidade" name="cidade">
                        <mat-option *ngFor="let cidade of cidades" [value]="cidade.nome">
                            {{cidade.nome}} - {{cidade.estado}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>    
            
            <mat-form-field class="form-field">
                    <input matInput placeholder="Idade" name="idade" [(ngModel)]="idade">                    
            </mat-form-field>   

        </section>
    </mat-card-content>
    <mat-card-actions>
            <button mat-raised-button color="primary" (click)="save()" >Salvar</button>
            <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>    

<mat-card class="card" *ngIf="clientes.length > 0">
    <mat-card-content>
        <section>
            <mat-list>
                <h3 matHeader>Clientes</h3>
                <mat-divider></mat-divider>

                <mat-list-item *ngFor="let clie of clientes; let i=index">
                    <mat-icon matListIcon>person</mat-icon>
                    <h2 matLine>Nome: {{clie.nome}}</h2>
                    <h2 matLine>Endereço: {{clie.endereco}}</h2>
                    <h2 matLine>Fone: {{clie.fone}}</h2>
                    <h2 matLine>Idade: {{clie.idade}}</h2>
                    <h2 matLine>Cidade: {{clie.cidade}}</h2>
                    <button mat-icon-button color="accent" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </section>
    </mat-card-content>
</mat-card>
